.donation-title {
    font-size: 70px;
    border-bottom: 1px solid ;
    line-height: 1em;
    letter-spacing: .1em;
    text-align: center;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    padding: 10px;
}

.container>img {
    margin-bottom: 0px;
    height: 100%;
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-90%, -50%);
}

.donation-card {
    background-color: #ffffff91;
}

.mat-button-toggle-checked {
    background-color: #d81b60;
    color: aliceblue;
}

.donation-type {
    margin: 1em !important;
}

.donate-now {
    width: 100%;
}
  
.second-title {
    margin: 0.5em;
    text-align: center;
    font-size: xx-large;
}

.amount-section {
    margin-top: 1em;
}

.amount-card {
    margin-bottom: 1em;
}

.amount-card>h1 {
    margin: 0;
    font-size: 40px;
}

.amount-card>h2 {
    font-size: 58px;
}

h2 {
    font-size: 58px;
}

.amount-card>p {
    margin: 0;
    font-size: 20px;
    padding-top: 0.5em;
}

.thanks-div {
    width: 100%;
    margin-top: 0px !important;
}

.description-card {
    margin-bottom: 1em;
}

.amount-toggle>mat-button-toggle {
    font-size: xx-large;
}

.amount-field {
    width: 80%;
}

.selectedAmount {
    background: primary;
}

mat-divider {
    background: aliceblue;
    max-width: 70%;
    margin-left: 1em;
}

.mat-form-field-label {
    color: aliceblue !important;
}

.mat-form-field-underline {
    background: aliceblue !important;
}

::ng-deep .mat-form-field-infix {
    border-top: solid transparent;
}

::ng-deep .amount-section .mat-form-field-label {
    color: #f0f8ff8c !important;
}
  
::ng-deep .amount-section .mat-focused .mat-form-field-label {
    color: aliceblue !important;
}

::ng-deep .amount-section .mat-form-field-underline .mat-form-field-ripple {
    background: #f0f8ff8c !important;
}

::ng-deep .amount-section .mat-form-field-underline {
    background: aliceblue !important;
}

::ng-deep .amount-section .mat-input-element:disabled {
    color: aliceblue;
}