<div class="mat-typography">

  <app-title [title]="title"></app-title>


  <section fxLayoutAlign="space-around stretch" layout-wrap>
    <div fxFlex="98%" [ngClass.gt-sm]="['container']">
      <img mat-card-image [src]="donateImg">

      <mat-card class="donation-card" [ngClass.gt-sm]="['centered']">
        <h1>
          GIVE HOPE
        </h1>
        <mat-card-header>
          Donate to St Mark Universal Copts Care with a one-off donation or by becoming an ongoing supporter of our many
          life-saving/life-changing initiatives.
        </mat-card-header>


        <mat-card-content fxLayout="column">
          <mat-button-toggle-group class="donation-type" [(ngModel)]="donationType">
            <mat-button-toggle fxFlex value="single">SINGLE</mat-button-toggle>
            <mat-button-toggle fxFlex value="monthly">MONTHLY</mat-button-toggle>
          </mat-button-toggle-group>

          <!-- donations options buttons -->
          <div class="donation-type" fxFlex="100%" layout-wrap fxLayoutAlign="space-around stretch">
            <button fxFlex="33%" [ngClass]="{'stuff-secondary-primary': selectedAmount === donation}"
              (click)="onAmountSelect(donation)" mat-stroked-button
              *ngFor="let donation of fixedDonations">
                <span class="mat-typography">{{donation.amount}}</span>
              </button>
          </div>
        </mat-card-content>

        <div *ngIf="!isOther">
          <h2 class="mat-headline">{{selectedAmount?.amount}}</h2>
          <mat-divider></mat-divider>
          <span class="mat-title">{{selectedAmount?.description}}</span>
        </div>

        <div class="mat-headline" fxLayoutAlign="center center">
          <mat-form-field *ngIf="isOther" fxFlex="90%">
            <input [disabled]="isSubmitted" matInput type="number" [(ngModel)]="donationAmount">
            <span matPrefix>£&nbsp;</span>
          </mat-form-field>
        </div>


        <mat-card-actions fxLayout="row" fxLayoutAlign="space-around stretch">
          <!-- next button -->
          <div fxFlex="90%" class="stmucc-secondary-theme">
            <button class="donate-now" mat-raised-button color="primary" (click)="submit()"
              [disabled]="donationAmount <= 0">
              <span class="mat-typography">GIVE NOW</span>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>



  <section fxLayoutAlign="space-around stretch" class="main-section" layout-wrap>
    <mat-divider fxFlex="50%"></mat-divider>

    <span fxFlex="100%" class="second-title fill-accent">DONATE TO OUR CAUSE</span>

    <p fxFlex="100%">
      100% of the donations you give to St Mark Universal Copts Care go directly to funding our programmes and vital
      work. Unlike some charitable organisations, we do not use donations for administration costs or other
      overheads.
      What you donate gets to where it’s needed, and every pound makes an impact.
    </p>
  </section>

  <section class="amount-section" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around stretch"
    layout-wrap>

    <div fxFlex="20%" fxFlex.lt-sm="100%">
      <img class="thanks-div" mat-card-image [src]="donate2">
    </div>

    <div fxFlex="70%" fxFlex.lt-sm="100%" class="description-card" fxLayoutAlign="center center">
      <mat-card-content>
        <p>
          Donate today to cover prescription costs for someone with a chronic condition or see your donation go
          towards the costs of life-saving surgery. Remember, 100% of your donation is used for this purpose.
        </p>
        <span>Like to save a life every day? <strong style="cursor: pointer;" (click)="sendMail()">click here</strong>
          to become a regular supporter of our work. Save lives now and in
          the
          future, and ensure that those you help have a future too... a future free from sickness and
          deprivation.</span>
      </mat-card-content>
    </div>
  </section>


  <section class="other-ways-section" fxLayoutAlign="space-around stretch" layout-wrap>
    <mat-divider fxFlex="50%"></mat-divider>

    <span fxFlex="100%" class="second-title fill-primary">OTHER WAYS TO GIVE</span>

    <div class="other-ways-main-div" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around start">
      <div fxFlex="40">
        <h1>
          <mat-icon>account_balance</mat-icon> Donate by bank transfer
        </h1>
        <p>
          If you would prefer to donate directly by bank transfer:</p>
          <p>St Mark Universal Copts Care <br>
          Acct No: 65722695 <br>
          Sort code: 08 - 92 - 99 <br>
        </p>
      </div>

      <mat-divider fxHide.lt-sm class="vertical-divider" [vertical]="true"></mat-divider>
      <div fxFlex="32">
        <h1>
          <mat-icon>local_phone</mat-icon> Donate by phone
        </h1>
        <p>
            If you have any questions about donating or if you want to discuss current options, please follow the links above or get in touch by
            calling +44 (0)161 652 5600.
        </p>
      </div>

      <mat-divider fxHide.lt-sm class="vertical-divider" [vertical]="true"></mat-divider>
      <div fxFlex="27">
        <h1>
          <mat-icon>event_note</mat-icon> Donate by cheque
        </h1>
        <p>
          If you would prefer to set up a regular payment, or donate by cheque or cash, please download our <a targe="blank" [href]="donationformPdf">donation form.</a>
        </p>
      </div>

    </div>

  </section>


</div>
