<div class="mat-typography">

  <app-title [title]="title"></app-title>
  
  <section *ngIf="!isSubmitted" fxLayoutAlign="space-around stretch" class="main-section" layout-wrap>
    <mat-card fxFlex="98%" class="stuff-accent">
      <mat-card-header class="mat-title">
        Donate to St Mark Universal Copts Care with a one-off donation or by becoming an ongoing supporter of our many
        life-saving/life-changing initiatives.
      </mat-card-header>
    </mat-card>

    <mat-card fxFlex="98%" class="fill-accent">
      <mat-card-header class="mat-title">
        100% of the donations you give to St Mark Universal Copts Care go directly to funding our programmes and vital
        work. Unlike some charitable organisations, we do not use donations for administration costs or other
        overheads.
        What you donate gets to where it’s needed, and every pound makes an impact.
      </mat-card-header>
    </mat-card>
  </section>

  <section class="amount-section" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around stretch" layout-wrap>

    <mat-card fxFlex="48%" fxFlex.lt-sm="100%" class="amount-card stuff-secondary-primary">
      <h1 class="mat-display-1">SINGLE DONATION OF</h1>

      <div *ngIf="!isOther">
        <h2 class="mat-headline">{{selectedAmount?.amount}}</h2>
        <mat-divider></mat-divider>
        <p class="mat-title">{{selectedAmount?.description}}</p>
      </div>

      <div class="mat-headline">
        <mat-form-field class="amount-field" *ngIf="isOther">
          <input [disabled]="isSubmitted" matInput placeholder="Amount" type="number" [(ngModel)]="donationAmount">
          <span matPrefix>£&nbsp;</span>
        </mat-form-field>
      </div>


      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between end">
        <!-- donations options buttons -->
        <div *ngIf="!isSubmitted" fxFlex="70%" layout-wrap fxLayoutAlign="space-around stretch">
            <button fxFlex="33%" [ngClass]="{'stuff-accent': selectedAmount === donation}" (click)="onAmountSelect(donation)"
            mat-stroked-button *ngFor="let donation of fixedDonations">{{donation.amount}}</button>
        </div>

        <!-- next button -->
        <div fxFlex="20%">
            <button *ngIf="!isSubmitted" (click)="submit()" mat-flat-button [disabled]="donationAmount <= 0">DONATE NOW</button>
            <button *ngIf="isSubmitted" (click)="reset()" mat-flat-button>Choose other amount</button>
        </div>
      </mat-card-actions>
    </mat-card>

    <div *ngIf="isSubmitted" fxFlex="40%" fxHide.lt-sm>
      <img class="thanks-div" mat-card-image [src]="heartbeat">
    </div>

    <mat-card fxFlex="48%" fxFlex.lt-sm="100%" *ngIf="!isSubmitted" class="description-card" fxLayoutAlign="center center">
      <mat-card-header class="mat-title">
        <p>
          Donate today to cover prescription costs for someone with a chronic condition or see your donation go
          towards the costs of life-saving surgery. Remember, 100% of your donation is used for this purpose.
        </p>
      </mat-card-header>
    </mat-card>
  </section>


  <section *ngIf="!isSubmitted" fxLayoutAlign="space-around stretch" class="main-section" layout-wrap>
    <mat-card fxFlex="98%" class="stuff-primary">
      <mat-card-header class="mat-title">
        <span>Like to save a life every day? <strong style="cursor: pointer;" (click)="sendMail()">click here</strong> to become a regular supporter of our work. Save lives now and in
          the
          future, and ensure that those you help have a future too... a future free from sickness and deprivation.</span>
      </mat-card-header>
    </mat-card>
  </section>

  <section *ngIf="isSubmitted">
    <donation-signup [donationAmount]="donationAmount"></donation-signup>
  </section>

</div>
