<div class="mat-typography">

  <app-title [title]="title | uppercase"></app-title>

  <section fxLayoutAlign="space-around stretch" class="main-section" layout-wrap>
      <mat-card fxFlex="100%" class="stuff-primary">
        <img class="frlogo" mat-card-image [src]="frlogo">
        <mat-card-header class="mat-title">
            We are grateful for all the support that we receive, because every donation, however small, enables us to do the right thing in support of those without a voice.
        </mat-card-header>
      </mat-card>
    </section>
  
  
    <section layout-wrap class="cards" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around stretch">
      <mat-card *ngFor="let panel of panels" fxFlex="49%" fxFlex.lt-sm="100%">
        <img mat-card-image [src]="panel.img">
  
        <mat-card-content class="mat-title">
          <p>{{panel.text}}</p>
        </mat-card-content>
  
        <mat-card-actions>
        </mat-card-actions>
  
      </mat-card>
    </section>
  
    <section fxLayoutAlign="space-around stretch" class="main-section cards" layout-wrap>
      <mat-card fxFlex="100%">
        <mat-card-header class="mat-title" fxLayout="column">
          <span>In addition to direct donations, you can support St Mark Universal Copts Care in a number of ways:</span>
          
          <mat-chip-list>
            <mat-chip *ngFor="let support of supports">{{support.name}}</mat-chip>
          </mat-chip-list>

        </mat-card-header>
      </mat-card>
    </section>
  
    <section fxLayoutAlign="space-around stretch" class="main-section cards" layout-wrap>
      <mat-card fxFlex="58%" fxFlex.lt-sm="100%" class="stuff-accent">
        <mat-card-header class="mat-title">
            We appreciate whatever individuals or businesses are able to do in support of our vital work, and we’re always looking for new initiatives and opportunities.
        </mat-card-header>
      </mat-card>

      <mat-card (click)="sendMail()" fxFlex="40%" fxFlex.lt-sm="100%" class="fundraise_for__us fill-secondary-primary">
        <mat-card-header class="mat-title" fxLayout="column">
            <h1 fxLayoutAlign="center center"><mat-icon>favorite</mat-icon> Click to FUNDRAISE for us</h1>
        </mat-card-header>
      </mat-card>
    </section>
</div>
