
.cards > mat-card, .cards > iframe {
    margin-top: 1em;
}

.frlogo {
    width: 20em;
    margin-left: 1em;
}

.fundraise_for__us {
    cursor: pointer;
}

mat-card-content {
    font-size: larger;
}

mat-chip {
    font-size: large;
    height: auto !important;
}