<div class="mat-typography">

  <app-title [title]="title"></app-title>

  <section fxLayoutAlign="space-around stretch" class="main-section" layout-wrap>
    <mat-card fxFlex="100%" class="stuff-primary">
      <img mat-card-image [src]="whoweare">
      <mat-card-header class="mat-title">
          St Mark Universal Copts Care is a UK based charity, founded by members of the Anglo-Coptic community in 2013, with the objective of providing effective healthcare support to deprived communities in the Middle East; where access to healthcare is extremely difficult.
      </mat-card-header>
    </mat-card>
  </section>


  <section layout-wrap class="cards" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around stretch">
    <div fxFlex="25%" class="image-div" fxFlex.lt-sm="100%">
      <img mat-card-image [src]="smile">
    </div>

    <div fxFlex="70%">
      <mat-card-content>
        <p *ngFor="let panel of panels">{{panel.text}}</p>
      </mat-card-content>
    </div>
  </section>

  <section fxLayoutAlign="space-around stretch" class="main-section" layout-wrap>
    <mat-card fxFlex="38%" fxFlex.lt-sm="100%" class="stuff-accent">
      <mat-card-header class="mat-title" fxLayout="column">
        To see our work in action, browse our 
        <strong class="projects__link" routerLink="/projects">projects.</strong>
        You can also watch this video for an introduction to St Mark Universal Copts Care. 
      </mat-card-header>
    </mat-card>

    <iframe fxFlex="60%" fxFlex.lt-sm="100%" src="https://www.youtube.com/embed/Lf3w_VxKKN4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 
  </section>

</div>
