<div class="mat-typography" fxLayout="row" fxLayout.lt-sm="column">

    <div class="stuff-secondary-primary"  fxLayout="row" fxLayoutAlign="center">
        <h1 class="title">Join our St Mark Annual Christmas Ball</h1>
    </div>

    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <span fxFlex="90%" class="description">Join us for an enchanting evening at our annual Charity Christmas Ball on Saturday 23 November from 7pm.</span>
            <button fxFlex="10%" (click)="onNoClick()" mat-button color="accent"><mat-icon>close</mat-icon></button>
        </div>


        <div fxLayout="row">
            <button class="submit-button" (click)="onYesClick()" mat-raised-button color="accent">
                Get your ticket now
            </button>
        </div>
    </div>
        
  
</div>
