<div class="mat-typography">
    
  <app-title [title]="title"></app-title>

  <section fxLayoutAlign="space-around stretch" class="main-section" layout-wrap>
    <mat-card fxFlex="98%" class="stuff-primary">
      <mat-card-header class="mat-title">
        Transforming lives around the world
        Doing the right thing has always been the right thing to do.
        That’s why St Mark Universal Copts Care exists...to do the right thing for those in need, overseas and in the
        UK.
        Our work began as a mission to improve the lives of disadvantaged communities in Egypt, North
        Africa
        and the Middle East, through a series of targeted health and welfare programmes, but now we do much, much more,
        including our work and alliances with charitable organisations close to our Warrington, UK home.
      </mat-card-header>
    </mat-card>

    <mat-card fxFlex="98%" class="stuff-accent">
      <mat-card-header class="mat-title">
        As Christians, we believe passionately that it is our duty to support those groups in need, irrespective of
        religion
        or national boundaries, which is why we have helped thousands of people gain access to life-saving healthcare
        that
        has helped to transform their health and their life chances.
      </mat-card-header>
    </mat-card>
  </section>


  <section layout-wrap class="cards" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around stretch">
    <mat-card *ngFor="let panel of panels" fxFlex="30%" fxFlex.lt-md="100%">

      <mat-card-header>
        <mat-card-title class="fill-primary">{{panel.title}}</mat-card-title>
      </mat-card-header>

      <img *ngIf="panel.img" mat-card-image [src]="panel.img">

      <mat-card-content>
        <p>{{panel.text}}</p>
      </mat-card-content>

      <mat-card-actions>
        <button [routerLink]="panel.url" mat-raised-button color="accent">{{panel.button}}</button>
      </mat-card-actions>

    </mat-card>
  </section>

</div>
