.title {
    font-size: 70px;
    border-bottom: 1px solid ;
    line-height: 1em;
    letter-spacing: .1em;
    text-align: center;
}

.main-section> mat-card {
    margin-bottom: 0.5em;
}

.cards>mat-card {
    margin-bottom: 1em;
}

.cards mat-card-title {
    font-size: xx-large;
}

.cards mat-card-actions {
    bottom: 0;
    right: 0;
    float: right;
    /* position: absolute;
    margin: 0.2em; */
}