.panels>div {
    margin-top: 1em;
    font-size: larger;
}

.img {
    width: 100%;
    margin: auto;
}

.other-ways-section {
    margin-top: 1em;
}

.second-title {
    margin: 0.5em;
    text-align: center;
    font-size: xx-large;
}

.cards {
    margin-top: 1em;
}