<div class="mat-typography">

  <app-title [title]="title | uppercase"></app-title>

  <section layout-wrap class="cards" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around stretch">
    <mat-card *ngFor="let supporter of supporters" fxFlex="32%" fxFlex.lt-md="48%" fxFlex.lt-sm="100%">
        <mat-card-title class="fill-primary">
            <p>{{supporter?.name}}</p>
          </mat-card-title>
          <mat-card-content fxLayoutAlign="center center" fxHide.lt-sm>
            <img class="supporter-header-image" mat-card-image [src]="supporter?.img">
          </mat-card-content>

          <mat-card-actions fxLayoutAlign="end">
            <a mat-flat-button href="{{supporter?.url}}" target="_blank">Visit {{supporter?.name}}</a>
          </mat-card-actions>
    </mat-card>
  </section>

  <section>
    <mat-card class="stuff-primary" fxFlex="100%">
      <mat-card-title class="mat-title">
        <mat-icon>thumb_up</mat-icon> Be Our supporter
      </mat-card-title>

      <mat-card-content>
        <p class="mat-title">If your organisation would like to support us, please get in touch:</p>
        <h2 mat-line>Ashley J. Williams - ashley.williams@stmarkuniversalcare.org</h2>
      </mat-card-content>
    </mat-card>
  </section>

</div>
    