<div layout-fill class="social-toolbar" fxLayout="row" fxLayoutAlign="center center" layout-fill>
  <mat-toolbar>
    <a [routerLink]="['./']" mat-button>
      <div fxLayout="row" fxLayoutAlign="start center">
      </div>
    </a>

    <span class="config-spacer"></span>

    <a target="_blank" href="https://www.facebook.com/StMarkUniversalCare/" mat-icon-button>
      <mat-icon svgIcon="facebook" color="primary"></mat-icon>
    </a>

    <a target="_blank" href="https://www.instagram.com/stmarkuniversalcare" mat-icon-button>
      <mat-icon svgIcon="instagram" color="primary"></mat-icon>
    </a>

    <a target="_blank" href="https://twitter.com/stmarkuniversal" mat-icon-button>
      <mat-icon svgIcon="twitter" color="primary"></mat-icon>
    </a>

    <a target="_blank" href="https://www.linkedin.com/company/st-mark-universal-care" mat-icon-button>
      <mat-icon svgIcon="linkedin" color="primary"></mat-icon>
    </a>

    <a target="_blank" href="https://www.youtube.com/channel/UC7LZnFxq_pO1u8D9o9KFa1g" mat-icon-button>
      <mat-icon svgIcon="youtube" color="primary"></mat-icon>
    </a>
  </mat-toolbar>
</div>

<header role="banner" class="site-banner">

  <div class="inner">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <a [routerLink]="['/']">
        <img class="logo" [src]="logo">
      </a>

      <section fxHide.lt-md class="mat-typography">
        <h1 class="slogan fill-primary">"{{banner.slogan}}"</h1>
      </section>

      <div class="stmucc-secondary-theme">
        <button routerLink="/support/donate" mat-raised-button color="primary">
          <span class="mat-typography mat-display-1">DONATE
            <mat-icon class="donate-icon">favorite_border</mat-icon>
          </span>
        </button>
      </div>
    </div>

    <div class="toolbar">
      <mat-toolbar fxLayout.gt-md="row" fxLayoutAlign="center center" class="navbar" layout-fill>
        <!-- menu for responsive devices -->
        <button mat-icon-button color="primary" [matMenuTriggerFor]="mobile" fxHide.gt-xs>
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #mobile="matMenu">
          <button mat-menu-item routerLink="/projects">OUR PROJECTS</button>
          <button mat-menu-item routerLink="/partners">PARTNERS</button>
          <button mat-menu-item routerLink="/connect">CONNECT</button>
        </mat-menu>

        <!-- other menu -->
        <button mat-button color="primary" [matMenuTriggerFor]="aboutus">ABOUT US<mat-icon>arrow_drop_down
          </mat-icon></button>
        <mat-menu #aboutus="matMenu">
          <button mat-menu-item routerLink="/about">Overview</button>
          <button mat-menu-item routerLink="/about/who-we-are">Who we are</button>
          <button mat-menu-item routerLink="/about/what-we-do">What we do</button>
          <button mat-menu-item routerLink="/about/why-we-do-it">Why we do it</button>
          <button mat-menu-item routerLink="/about/annual-reports">Annual Reports</button>
          <button mat-menu-item routerLink="/about/team/staff-and-volunteers">Meet the team</button>
        </mat-menu>

        <button mat-button color="primary" fxHide.lt-sm routerLink="/projects">OUR PROJECTS</button>

        <button mat-button color="primary" [matMenuTriggerFor]="support">SUPPORT<mat-icon>arrow_drop_down
          </mat-icon></button>
        <mat-menu #support="matMenu">
          <button mat-menu-item routerLink="/support/donate">Donate now</button>
          <button mat-menu-item routerLink="/support/fundraising">Fundraising</button>
          <button mat-menu-item routerLink="/support/legacies">Legacies</button>
          <button mat-menu-item routerLink="/support/corporate">Corporate Support</button>
          <button mat-menu-item routerLink="/support/gold-card">The Gold Card</button>
          <button mat-menu-item routerLink="/support/collection-box">Host a collection box</button>
          <button mat-menu-item routerLink="/support/fundraising-promise">Our Fundraising Promise</button>
        </mat-menu>

        <button mat-button color="primary" [matMenuTriggerFor]="volunteer">VOLUNTEER<mat-icon>arrow_drop_down
          </mat-icon></button>
        <mat-menu #volunteer="matMenu">
          <button mat-menu-item routerLink="/volunteer/uk">UK</button>
          <button mat-menu-item routerLink="/volunteer/overseas">Overseas</button>
          <button mat-menu-item routerLink="/volunteer/experiences">Our Experiences</button>
        </mat-menu>

        <button mat-button fxHide.lt-sm color="primary" routerLink="/partners">PARTNERS</button>

        <button mat-button fxHide.lt-sm color="primary" routerLink="/connect">CONNECT</button>

      </mat-toolbar>
    </div>

  </div>

</header>
