.title {
    font-size: 70px;
    border-bottom: 1px solid ;
    line-height: 1em;
    letter-spacing: .1em;
    text-align: center;
}

.main-section {
    padding: 1em;
}

.cards>mat-card {
    margin: 0.5em;
}

.testimonials__link {
    cursor: pointer;
    text-decoration: underline;
}