.donate-button {
  font-size: large;
  float: right;
}

.donation-panel mat-panel-title, .donation-panel mat-panel-description {
  font-size: larger;
}

.mat-button-toggle-checked {
  background-color: #F9A825;
}

.donation-toggle {
  margin-bottom: 0;
}

.signup-button {
  background-color: #F9A825;
  color: aliceblue;
  margin-top: 3em;
  margin-bottom: 1em;
}