<!--app-root-->

<div>
  <section role="main" class="container">
      <div layout-fill class="social-toolbar" fxLayout="row" fxLayoutAlign="center center" layout-fill>
          <mat-toolbar>
              <a [routerLink]="['./']" mat-button>
                  <div class="app-tilte-container" fxLayout="row" fxLayoutAlign="start center">
                      <!-- <div class="app-title">
                          {{title | uppercase}}
                      </div> -->
                  </div>
              </a>

              <span class="config-spacer"></span>

              <button mat-icon-button>
                  <mat-icon svgIcon="img:twitter" color="primary"></mat-icon>
              </button>

              <button mat-icon-button>
                  <mat-icon svgIcon="img:facebook" color="primary"></mat-icon>
              </button>

              <button mat-icon-button>
                  <mat-icon svgIcon="img:instagram" color="primary"></mat-icon>
              </button>

              <button mat-icon-button>
                  <mat-icon svgIcon="img:linkedin" color="primary"></mat-icon>
              </button>
          </mat-toolbar>
      </div>

      <header role="banner" class="site-banner">

          <div class="inner">
              <div fxLayout="row" fxLayoutAlign="space-around center">
                  <a [routerLink]="['./home']">
                      <img class="logo" [src]="logo">
                  </a>

                  <section fxHide.lt-md class="mat-typography">
                      <h1 class="slogan fill-primary">"{{banner.slogan}}"</h1>
                  </section>

                  <button routerLink="/support/donations" mat-raised-button color="warn">Donate
                      <mat-icon class="donate-icon">favorite_border</mat-icon>
                    </button>
              </div>

              <div class="toolbar">
                  <mat-toolbar fxLayout.gt-md="row" fxLayoutAlign="center center" class="navbar" layout-fill>
                    <button mat-button color="primary" [matMenuTriggerFor]="aboutus">ABOUT US<mat-icon>arrow_drop_down</mat-icon></button>
                    <mat-menu #aboutus="matMenu">
                        <button mat-menu-item routerLink="/about/who-we-are">Who we are</button>
                        <button mat-menu-item routerLink="/about/what-we-do">What we do</button>
                        <button mat-menu-item routerLink="/about/team/trustees">Meet the team</button>
                    </mat-menu>

                      <button mat-button color="primary" fxHide.lt-md routerLink="/projects">OUR PROJECTS</button>

                      <button mat-button color="primary" [matMenuTriggerFor]="fundraise" fxHide.lt-sm>FUNDRAISE<mat-icon>arrow_drop_down</mat-icon></button>
                      <mat-menu #fundraise="matMenu">
                          <button mat-menu-item routerLink="/support/getinvolved">Get Involved</button>
                          <button mat-menu-item routerLink="/support/corporate">Corporate Support</button>
                          <button mat-menu-item routerLink="/support/gold-card">The Gold Card</button>
                      </mat-menu>

                      <button mat-button color="primary" [matMenuTriggerFor]="volunteer">VOLUNTEER<mat-icon>arrow_drop_down</mat-icon></button>
                      <mat-menu #volunteer="matMenu">
                          <button mat-menu-item routerLink="/volunteer/uk">UK</button>
                          <button mat-menu-item routerLink="/volunteer/overseas">Overseas</button>
                          <button mat-menu-item routerLink="/volunteer/experiences">Our Experiences</button>
                      </mat-menu>

                      <button mat-button color="primary">PARTNERS</button>

                      <button mat-button color="primary" fxHide.lt-sm>CONNECT</button>

                  </mat-toolbar>
              </div>

          </div>

      </header>

      
      <section [style.background-color]="getStyle()">
          <div class="content-outlet">
              <div *ngIf="router.url != '/home'" class="breadcrumb">
                  <breadcrumb></breadcrumb>
              </div>

              <router-outlet></router-outlet>
              <app-partner-list></app-partner-list>
          </div>
      </section>
      

      <footer class="footer background-secondary-accent">

          <section class="inner">
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
                  
              <img class="logo" [src]="logowhite">
                  <mat-nav-list class="mat-typography" *ngFor="let detail of footerDetails">
                      <a matLine href="{{detail.link}}">{{detail.name}}</a>
                      <mat-list-item *ngFor="let list of detail.sublist">
                          <a matLine href="{{list.link}}">{{list.name}}</a>
                      </mat-list-item>
                  </mat-nav-list>
              </div>
              
              <mat-divider></mat-divider>   

              <div class="charity-footer mat-typography">
                  <p>Registered office: The Old Rectory, Rectory Lane, Winwick WA2 8LE.</p>
                  <p>United Kingdom Committee for StMUCC. Registered charity 1155451. Registered company limited by guarantee 08747202 (England and Wales). 
                  </p>
              </div>
          </section>

      </footer>
  </section>

</div>