<div class="mat-typography">

  <section>
    <div>
      <h1 class="title fill-primary">TRANSFORMING LIVES AROUND THE WORLD</h1>
    </div>
  </section>


  <section fxLayoutAlign="space-around stretch" fxLayout="row" class="mat-body-4" layout-wrap>

    <span fxFlex="60%" fxFlex.lt-sm="100%">
      <p>
        Transforming lives around the world
        Doing the right thing has always been the right thing to do.
        That’s why St Mark Universal Copts Care exists...to do the right thing for those in need, overseas and in the
        UK.
        Our work began as a mission to improve the lives of disadvantaged Copts (Egyptian Christians) in Egypt, North
        Africa
        and the Middle East, through a series of targeted health and welfare programmes, but now we do much, much more,
        including our work and alliances with charitable organisations close to our Warrington, UK home.
      </p>
    </span>

    <span fxFlex="30%" fxFlex.lt-sm="100%">
      <img style="width: 100%;" mat-card-image [src]="transform">
    </span>

  </section>


  <section fxLayoutAlign="space-around stretch" fxLayout="row" class="mat-body-4" layout-wrap>

    <span fxFlex="60%" fxFlex.lt-sm="100%">
      <p>
        As Christians, we believe passionately that it is our duty to support those groups in need, irrespective of
        religion
        or national boundaries, which is why we have helped thousands of people gain access to life-saving healthcare
        that
        has helped to transform their health and their life chances.
      </p>
    </span>

    <span fxFlex="30%" fxFlex.lt-sm="100%">
      <p>Discover how our vital support is making a real difference (what we do), or read more about our organisation.
        (who we are) </p>
    </span>

  </section>

</div>
