.trustee-title {
  font-size: 60px;
  border-bottom: 1px solid;
  line-height: 1em;
  letter-spacing: .1em;
  text-align: center;
}

.contact-button {
  font-size: large;
  margin-bottom: 0.5em;
}

.email-chip {
  font-size: x-large;
}