<div class="mat-typography">
  <button (click)="onNoClick()" class="close-button" mat-icon-button color="primary">
    <mat-icon>close</mat-icon>
  </button>

  <app-title [title]="data.team.name | uppercase"></app-title>

  <mat-dialog-content>
      <section layout-wrap fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
          <div fxFlex="40%">
            <p style="font-size: x-large">
              {{data.team.description}}
            </p>
            <button class="contact-button" mat-stroked-button color="primary">Contact {{data.team.name}}</button>
          </div>
      
          <div fxFlex="35%">
            <img style="margin-top: 0;" mat-card-image [src]="data.team.img">
          </div>
      
        </section>

  </mat-dialog-content>
  
</div>
