.title {
    font-size: 70px;
    border-bottom: 1px solid ;
    line-height: 1em;
    letter-spacing: .1em;
    text-align: center;
}

.main-section {
    padding-bottom: 1em;
}

.cards>mat-card {
    margin-bottom: 1em;
}

.image-div {
    margin-top: 0.4em;
}

.image-div>img {
    max-width: 100%;
    margin: auto;
  }
  