<div class="mat-typography">

  <app-title [title]="title | uppercase"></app-title>

  <section fxLayoutAlign="space-around stretch" class="main-section" layout-wrap>
    <mat-card fxFlex="100%" class="stuff-primary">
      <img mat-card-image [src]="overseas">
      <mat-card-header class="mat-title">
        We provide opportunities to volunteer overseas through our mission trips to Egypt, which typically take place
        twice each year.
      </mat-card-header>
    </mat-card>
  </section>


  <section layout-wrap class="cards" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around stretch">
    <div fxFlex="65%">
      <p *ngFor="let panel of panels">{{panel.text}}</p>
    </div>

    <div fxFlex="30%" class="image-div" fxFlex.lt-sm="100%">
      <img mat-card-image [src]="overseas2">
    </div>
  </section>

  <section fxLayoutAlign="space-around stretch" class="main-section" layout-wrap>
    <mat-card fxFlex="48%" fxFlex.lt-sm="100%" class="stuff-accent">
      <mat-card-title class="mat-title">
        <mat-icon>flight</mat-icon> Go on a trip
      </mat-card-title>

      <mat-card-content>
        <p class="mat-title">To get on a trip or for any information regarding our mission trips,
          please contact:</p>
        <h2 mat-line>Youth Mission - youthmission@stmarkuniversalcare.org</h2>
        <p>You can also watch this summary video about our latest summer mission trip.</p>
      </mat-card-content>
    </mat-card>
    <iframe fxFlex="50%" fxFlex.lt-sm="100%" src="https://www.youtube.com/embed/uobBNy2_XXo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>

</div>
