<div class="mat-typography">

  <app-title [title]="title | uppercase"></app-title>

  <section fxLayoutAlign="space-around stretch" class="main-section" layout-wrap>
    <mat-card fxFlex="100%" class="stuff-primary">
      <img mat-card-image [src]="corporate">
      <mat-card-header class="mat-title">
        Whether in the UK or overseas, we would welcome more businesses to become corporate partners with us, to help
        deliver on our goals.
      </mat-card-header>
    </mat-card>
  </section>

  <section layout-wrap class="panels" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around stretch">
    <div fxFlex="60%" fxLayout="column">
      <p *ngFor="let panel of panels" fxFlex="100%">
        {{panel.text}}
      </p>
    </div>

    <div fxFlex="30%" fxLayout="column" class="image-div" fxFlex.lt-sm="100%" fxLayoutAlign="center">
      <img mat-card-image [src]="corporate2">
    </div>
  </section>

  <section fxLayoutAlign="space-around stretch" class="main-section cards" layout-wrap>
    <mat-card fxFlex="100%" class="stuff-accent">
      <mat-card-header class="mat-title">
        If you would like to find out more about collaborating with us as a corporate sponsor, <strong class="connect__link" routerLink="/connect"> please do get in touch.</strong>
      </mat-card-header>
    </mat-card>

  </section>
</div>
