<div class="mat-typography">

  <app-title [title]="title | uppercase"></app-title>

  <section layout-wrap class="panels" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around stretch">
    <div fxFlex="50%" fxLayout="column">
      <p *ngFor="let panel of panels" fxFlex="100%">
        {{panel.text}}
      </p>
    </div>

    <div fxFlex="45%" fxLayout="column" class="image-div" fxFlex.lt-sm="100%">
      <img class="img" mat-card-image [src]="corporatesmall">
    </div>
  </section>

  <section class="other-ways-section">
    <div fxLayout="column" fxLayoutAlign="space-around stretch" layout-wrap>
      <mat-divider></mat-divider>
      <span fxFlex="100%" class="second-title fill-primary">IDEAS FOR SUPPORT</span>
    </div>
  </section>

  <section class="panels" fxLayoutAlign="space-around center" fxLayout.gt-sm="row" fxLayout.lt-sm="column" layout-wrap>
    <div fxFlex="40%" fxFlex.lt-sm="100%">
      <img class="img" mat-card-image [src]="campaign">
    </div>

    <div fxFlex="55%" fxFlex.lt-sm="100%">
      <p *ngFor="let idea of ideas"><mat-icon>star_half</mat-icon> {{idea.description}}</p>
    </div>

  </section>


  <section fxLayoutAlign="space-around stretch" class="main-section cards" layout-wrap>
    <mat-card fxFlex="100%" class="stuff-accent">
      <mat-card-title class="mat-title">
        <mat-icon>more</mat-icon> Contact us
      </mat-card-title>

      <mat-card-content>
        <p class="mat-title">If you would like to discuss opportunities for corporate giving, please contact
          ashley.williams@stmarkuniversalcoptscare.org.</p>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="end start">
        <button mat-flat-button routerLink="/connect">
          <span class="mat-typography">Get in touch</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </section>

</div>
