<div class="mat-typography">

  <app-title [title]="title | uppercase"></app-title>

  <section fxLayoutAlign="space-around center" fxLayout.gt-sm="row" fxLayout.lt-sm="column" layout-wrap>
    <div fxFlex="48%" fxFlex.lt-sm="100%">
      <mat-card-content class="content">
        <p>Join us for what promises to be a truly terrific evening of sparkles, exciting live entertainment and
          delicious dining hosted in St Mark’s youth centre, Werneth Grange. </p>
        <p>All proceeds will go towards St Mark Universal Care projects, which transforms the lives of those in
          need every day.</p>
      </mat-card-content>
      <mat-card-actions>
        <mat-list>
          <mat-list-item class="content" *ngFor="let spec of specs">
            <mat-icon mat-list-icon>{{spec.icon}}</mat-icon>
            <span>{{spec.description}}</span>
          </mat-list-item>
        </mat-list>
      </mat-card-actions>
    </div>

    <div fxFlex="42%" fxFlex.lt-sm="100%" fxLayout="column">

      <div>
        <img class="support-img" mat-card-image [src]="christmasparty">
      </div>

      <mat-accordion class="support-headers-align">
        <mat-expansion-panel [expanded]="true" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Buy your ticket now
            </mat-panel-title>
            <mat-panel-description>
              £{{adultselected+studentselected+juniorselected}}
              <mat-icon>card_giftcard</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div fxLayout="column" fxLayoutAlign="space-around stretch">
            <div class="tickets-div" fxLayout="row" fxLayoutAlign="space-around center">
              <section fxLayout="column" fxLayoutAlign="center center">
                <span>Adults</span>
                <div fxLayout="row">
                  <button mat-icon-button color="primary" [disabled]="adulttickets === 0" (click)="removeTicket('adult')"><mat-icon>remove</mat-icon></button>
                  <span>{{adulttickets}}</span>
                  <button mat-icon-button color="primary" (click)="addTicket('adult')"><mat-icon>add</mat-icon></button>
                </div>
              </section>

              <section fxLayout="column" fxLayoutAlign="center center">
                <span>Students</span>
                <div fxLayout="row">
                  <button mat-icon-button color="warn" [disabled]="studenttickets === 0" (click)="removeTicket('student')"><mat-icon>remove</mat-icon></button>
                  <span>{{studenttickets}}</span>
                  <button mat-icon-button color="warn" (click)="addTicket('student')"><mat-icon>add</mat-icon></button>
                </div>
              </section>

              <section fxLayout="column" fxLayoutAlign="center center">
                <span>Juniors</span>
                <div fxLayout="row">
                  <button mat-icon-button color="accent" [disabled]="juniortickets === 0" (click)="removeTicket('junior')"><mat-icon>remove</mat-icon></button>
                  <span>{{juniortickets}}</span>
                  <button mat-icon-button color="accent" (click)="addTicket('junior')"><mat-icon>add</mat-icon></button>
                </div>
              </section>
            </div>

            <div class="tickets-div content" fxLayoutAlign="space-around center">
              <strong>Tickets: {{adulttickets+studenttickets+juniortickets}}</strong>
              <strong>Total: £{{adultselected+studentselected+juniorselected}}</strong>
            </div>
  
            <button class="mat-display-1" (click)="onSubmit()" [disabled]="!adultselected && !studentselected && !juniorselected" mat-raised-button color="warn">
              <span>Buy Now</span>
            </button>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>


  </section>

</div>
