<div class="mat-typography">

  <app-title [title]="project?.name"></app-title>

  <section fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around stretch">

    <div fxFlex="70%" fxLayout="column">
      <div fxFlex="100%" fxFlex.lt-md="100%">
        <mat-card-content>
          <p *ngFor="let description of project?.description">
            {{description?.paragraph}}
          </p>

        </mat-card-content>
      </div>
    </div>

    <div fxFlex="20%" fxLayout="column">
      <div *ngFor="let description of project?.description" [hidden]="!description?.img" class="image-div"
        fxFlex.lt-sm="100%">
        <img mat-card-image [src]="description?.img">
      </div>
    </div>

  </section>

</div>
