.cards>mat-card {
    margin: 1em;
}

.cards mat-card-title {
    font-size: xx-large;
}

.cards mat-card-actions {
    bottom: 0;
    right: 0;
    font-size: large;
}

button {
    font-size: large;
}