
<section class="mat-typography">
  
  <app-title title="Shop to change lives"></app-title>

  <div class="cards" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around stretch" fxLayoutWrap>
      <mat-card *ngFor="let panel of panels" fxFlex="30">
          <mat-card-header>
              <mat-card-title class="fill-primary">{{panel.title}}</mat-card-title>
          </mat-card-header>
          <img *ngIf="panel.img" mat-card-image [src]="panel.img">

          <mat-card-content>
              <p>{{panel.text}}</p>
          </mat-card-content>

          <mat-card-actions>
              <button mat-button color="accent">{{panel.button}}</button>
          </mat-card-actions>
      </mat-card>
  </div>
</section>
