mat-grid-list{
    margin: 1em;
}

mat-grid-tile {
    background: lightblue;
}

.end-section {
    margin-top: 1em;
}

button {
    font-size: large;
}

.div-img {
    margin-top: 2em;
}

.apply button {
    margin: 0.2em;
    font-size: x-large;
}

mat-card-content {
    font-size: larger;
}

.stuff-gold {
    background-color: #F9A825;
    color: aliceblue;
}

.fill-gold {
    color: #F9A825;
}
