<section class="mat-typography">

  <app-title [title]="title | uppercase"></app-title>

  <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between stretch" fxLayoutWrap>
    <div fxFlex="55">
      <div>
        <mat-card-title class="fill-gold">
          <p>{{heading}}</p>
        </mat-card-title>

        <mat-card-content>
            <p>{{headline}}</p>
            <mat-list>
                <span mat-line>{{subheadline}}</span>
                <div style="margin-top: 0.5em" >
                  <mat-list-item *ngFor="let perk of perklist">
                    <mat-icon mat-list-icon>{{perk.icon}}</mat-icon>
                    <span>{{perk.text}}</span>
                  </mat-list-item>
                </div>
              </mat-list>
        </mat-card-content>
      </div>
    </div>

    <div fxFlex="45" class="div-img">
      <img width="100%" mat-card-image [src]="img">
    </div>
  </div>

  <section fxLayoutAlign="space-around stretch" class="end-section" layout-wrap>
    <mat-card fxFlex="100%" class="stuff-gold">
      <mat-card-content fxLayoutAlign="center center">
          100% of your monthly subscription will fund the monthly prescription of medication for one patient.
      </mat-card-content>
      
      <div class="apply" fxLayoutAlign="center center">
        <button mat-button (click)="viewTerms()"><span class="mat-typography">Terms & Conditions</span></button>
        <button (click)="signUp()" mat-flat-button>Sign Up</button>
      </div>
    </mat-card>
  </section>

</section>
