<section fxLayoutAlign="space-around stretch" class="mat-title">

  <mat-card class="donation-card fill-primary">
    <h1>
      <mat-icon>mood</mat-icon>YOUR DETAILS
    </h1>
    <form class="donation-form">

      <div fxLayoutAlign="space-around center" layout-wrap>

        <mat-form-field fxFlex="48%" fxFlex.lt-sm="100%">
          <mat-icon matSuffix>person_outline</mat-icon>
          <input matInput placeholder="First Name">
        </mat-form-field>

        <mat-form-field fxFlex="48%" fxFlex.lt-sm="100%">
          <mat-icon matSuffix>person_outline</mat-icon>
          <input matInput placeholder="Last Name">
        </mat-form-field>

      </div>


      <div fxLayoutAlign="space-around center" layout-wrap>
        <mat-form-field fxFlex="48%" fxFlex.lt-sm="100%">
          <mat-icon matSuffix>email</mat-icon>
          <input matInput type="email" placeholder="Enter your email">
        </mat-form-field>

        <mat-form-field fxFlex="48%" fxFlex.lt-sm="100%">
          <input matInput type="number" placeholder="Phone Number">
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint>Include area code</mat-hint>
        </mat-form-field>

      </div>


      <div fxLayoutAlign="space-around center" layout-wrap>

        <mat-form-field fxFlex="48%" fxFlex.lt-sm="100%">
          <mat-icon matSuffix>home</mat-icon>
          <input matInput placeholder="Address">
        </mat-form-field>

        <mat-form-field fxFlex="48%" fxFlex.lt-sm="100%">
          <mat-icon matSuffix>home</mat-icon>
          <input matInput placeholder="Address 2">
        </mat-form-field>

      </div>

      <div fxLayoutAlign="space-around center" layout-wrap>

        <mat-form-field fxFlex="32%" fxFlex.lt-sm="100%">
          <mat-icon matSuffix>location_city</mat-icon>
          <input matInput placeholder="City">
        </mat-form-field>

        <mat-form-field fxFlex="32%" fxFlex.lt-sm="100%">
          <mat-icon matSuffix>location_city</mat-icon>
          <input matInput placeholder="Country">
        </mat-form-field>

        <mat-form-field fxFlex="32%" fxFlex.lt-sm="100%">
          <mat-icon matSuffix>location_city</mat-icon>
          <input matInput #postalCode maxlength="8" placeholder="Postal Code">
          <mat-hint align="end">{{postalCode.value.length}} / 8</mat-hint>
        </mat-form-field>
      </div>

      <div class="stmucc-secondary-theme">
        <button class="donate-now" mat-flat-button color="primary">Submit <mat-icon>send</mat-icon></button>
      </div>
    </form>

  </mat-card>

</section>
