.donation-card {
  width: 90%;
}

.donation-card > h1 {
  font-size: xx-large;
}

.donation-card > h1 > mat-icon {
  font-size: xx-large;
  vertical-align: sub;
  margin-right: 0.5em;
}

.donation-form {
    width: 100%;
}
  
.donate-now {
  margin-top: 0.5em;
  float: right;
  font-size: x-large; 
}

.donate-now mat-icon {
  vertical-align: sub !important;
}