@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Roboto|Yanone+Kaffeesatz:300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();
// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config( $font-family: 'Yanone Kaffeesatz, sans-serif',
$headline: mat-typography-level(32px, 48px, 500),
$body-1: mat-typography-level(20px, 24px, 300));
// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
// @include mat-base-typography($custom-typography);
// Override typography for a specific Angular Material components.
// @include mat-checkbox-typography($custom-typography);
// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

// Define the default theme (same as the example above).
$stmucc-app-primary: mat-palette($mat-indigo,
700,
900);
$stmucc-app-accent: mat-palette($mat-deep-purple);
$stmucc-app-warn: mat-palette($mat-deep-orange);
$stmucc-app-theme: mat-light-theme($stmucc-app-primary,
$stmucc-app-accent,
$stmucc-app-warn);
// Include the default theme styles.
@include angular-material-theme($stmucc-app-theme);
// Define an alternate dark theme.
$secondary-primary: mat-palette($mat-pink,
600,
500,
900);
$secondary-accent: mat-palette($mat-gray, 500);
$secondary-warn: mat-palette($mat-deep-orange);
$secondary-theme: mat-light-theme($secondary-primary,
$secondary-accent,
$secondary-warn);
// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.stmucc-secondary-theme` will be affected by this alternate dark theme instead of the default theme.
.stmucc-secondary-theme {
    @include angular-material-theme($secondary-theme);
}

.alternate-theme {
    $alternate-primary: mat-palette($mat-lime, 400);
    $alternate-accent: mat-palette($mat-yellow, 400);
    $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
    @include angular-material-theme($alternate-theme);
}

// Define the default theme (same as the example above).
$light-app-primary: mat-palette($mat-grey);
$light-app-accent: mat-palette($mat-grey,
50);
$light-app-warn: mat-palette($mat-lime);
$light-app-theme: mat-light-theme($light-app-primary,
$light-app-accent,
$light-app-warn);
// Include the default theme styles.
.stmucc-light-theme {
    @include angular-material-theme($light-app-theme);
}

.secondary-font {
    font-family: 'Raleway', sans-serif;
}

.background-primary {
    background-color: mat-color($stmucc-app-primary);
}

.background-accent {
    background-color: mat-color($stmucc-app-accent);
}

.background-warn {
    background-color: mat-color($stmucc-app-warn);
}

.fill-primary {
    color: mat-color($stmucc-app-primary);
}

.fill-accent {
    color: mat-color($stmucc-app-accent);
}

.fill-warn {
    color: mat-color($stmucc-app-warn);
}

.fill-secondary-primary {
    color: mat-color($secondary-primary)
}

.stuff-primary {
    background-color: mat-color($stmucc-app-primary);
    color: aliceblue !important;
}

.stuff-accent {
    background-color: mat-color($stmucc-app-accent);
    color: aliceblue !important;
}

.stuff-warn {
    background-color: mat-color($stmucc-app-warn);
    color: aliceblue !important;
}

.background-secondary-accent {
    background-color: mat-color($secondary-accent)
}

.stuff-secondary-primary {
    background-color: mat-color($secondary-primary);
    color: aliceblue !important;
}