/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
    margin: 0;
    padding: 0;
    clear: both;
}

.breadcrumb {
    width: 100%;
    /* vertical-align: middle; */
    list-style-type: none !important;
}

.breadcrumb>ul {
    list-style-type: none !important;
    padding: 0px;
    margin: 0px;
}

.breadcrumb>ul>li {
    float: left;
}

.breadcrumb>ul>li.active::after {
    content: '';
    margin: 0px;
    padding: 0px;
}

.breadcrumb>ul>li::after {
    content: '';
    margin: 0px;
    padding: 0px;
    left: -3px;
}

.breadcrumb-item {
    cursor: pointer;
} 

.breadcrumb-item.active {
    cursor: default;
    font-weight: 200;
    /* color: #00395D; */
}

[layout-wrap] {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}