
.cards>mat-card {
    margin-bottom: 1em;
}

.cards mat-card-title {
    font-size: xx-large;
}

.cards mat-card-actions {
    bottom: 0;
    right: 0;
    float: right;
}

mat-list-item h4 {
    font-size: x-large !important;
}

mat-card-content {
    font-size: larger;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
    padding: 10px;
}

.container>img {
    margin-bottom: 0px;
    height: 100%;
}


/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}


/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slogan {
    font-size: xx-large;
    width: 100%;
}

button {
    font-size: large;
}

.help-card mat-card-title, .help-card p, .help-card h4, .help-card mat-icon {
    color: white !important;
}

.mat-list-base {
    padding-top: 0px;
}

.mat-list-base .mat-list-item.mat-2-line {
    height: 4.2em;
}