<section fxLayout="column" fxLayoutAlign="space-around center" layout-wrap>
  <div class="container" fxFlex="100">
    <img mat-card-image [src]="panelImg" alt="Donate">

    <div class="centered mat-typography" fxLayout="column">
      <p fxFlex="100%" class="slogan" fxHide.lt-sm>{{slogan | uppercase}}</p>
      <p fxHide.lt-md>{{subslogan | uppercase}}</p>
      <a mat-flat-button color="warn" routerLink="/about">{{buttonslogan | uppercase}}</a>
    </div>
  </div>
</section>

<section layout-wrap class="cards" fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around stretch">
  <mat-card *ngFor="let panel of _panels" [ngClass]="{'help-card': !panel.standard, 'background-accent': !panel.standard}"
    fxFlex="30%" fxFlex.lt-md="45%" fxFlex.lt-sm="100%">

    <mat-card-header>
      <mat-card-title class="fill-primary">{{panel.title}}</mat-card-title>
    </mat-card-header>

    <img *ngIf="panel.img" mat-card-image [src]="panel.img">

    <mat-card-content>
      <p>{{panel.text}}</p>
      <mat-list *ngIf="panel.items">
        <mat-list-item *ngFor="let help of panel.items">
          <mat-icon mat-list-icon>{{help.icon}}</mat-icon>
          <h4 mat-line>{{help.value}}</h4>
          <p mat-line> {{help.name}} </p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>

    <mat-card-actions>
      <button [routerLink]="panel.url" *ngIf="panel.standard" mat-raised-button color="accent">{{panel.button}}</button>
      <button [routerLink]="panel.url" *ngIf="!panel.standard" mat-raised-button>{{panel.button}}</button>
    </mat-card-actions>

  </mat-card>
</section>
